



body {
    font-family : 'Raleway', sans-serif;
    
    color: black;
    background-image: url('images/composite.png');
    background-size: 120%;
    background-position-x: center;
    background-attachment: fixed;
    margin: auto;
}

body a {
    color: black;   
}

.btn {
    color: black;
    box-shadow: 0px 0.5px 2px black;
}

#bandeau {
    box-shadow: 0px 0.5px 2px black
}


.bg-warning {
    box-shadow: 0px 0.5px 2px black;
}


.navbar-nav li {
    font-family: 'Manrope', sans-serif;
    
    
    
    
}









#histoire {
    border-radius: 8px;
    text-align: center;
    padding:0px;   
}


.histoire h1 {
    margin-top: 0px;
    margin-bottom: 25px;
}

.histoire p {
    font-weight: normal;
}


.zoomTiburce {
    width: 77px;
    height: 77px;
    }
    .imageTiburce {
    width: 100%;
    height: 100%;
    }
    .imageTiburce img {
    /* La transition s'applique à la fois sur la largeur et la hauteur, avec une durée d'une seconde. */
    -webkit-transition: all 1s ease; /* Safari et Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -ms-transition: all 1s ease; /* Internet Explorer 9 */
    -o-transition: all 1s ease; /* Opera */
    transition: all 1s ease;
    }
    .imageTiburce:hover img {
    /* L'image est grossie de 25% */
    -webkit-transform:scale(1.25); /* Safari et Chrome */
    -moz-transform:scale(1.25); /* Firefox */
    -ms-transform:scale(1.25); /* Internet Explorer 9 */
    -o-transform:scale(1.25); /* Opera */
    transform:scale(1.25);
    }




.carousel {
    box-shadow: 0px 0.5px 2px black;
    margin-top: 1px;
}





#histoire {
    box-shadow: 0px 0.5px 2px black; 
}



#histoire .histoire p {
    font-size: 1em;
    text-align : justify;
    color: black;
    
}


#histoire .histoire a {
    font-weight: bold;
    color: rgb(3, 129, 14)
}

#histoire .histoire h1 {
    padding-top: 10px;
    font-size: 2em;
    color: black;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    
}








.card {
    color: black;
    box-shadow: 0px 0.5px 2px black;
}

#card2 a {
    font-weight: bold;
}













/* PARTENAIRE */

#partenaires h4 {
    padding-top: 20px;
    font-weight: bold;
}





.zoomMeneau {
    width: 350px;
    height: 265px;
    }
    .imageMeneau {
    width: 100%;
    height: 100%;
    }
    .imageMeneau img {
    /* La transition s'applique à la fois sur la largeur et la hauteur, avec une durée d'une seconde. */
    -webkit-transition: all 1s ease; /* Safari et Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -ms-transition: all 1s ease; /* Internet Explorer 9 */
    -o-transition: all 1s ease; /* Opera */
    transition: all 1s ease;
    box-shadow: 0px 0.5px 2px black;
    }
    .imageMeneau:hover img {
    /* L'image est grossie de 25% */
    -webkit-transform:scale(1.18); /* Safari et Chrome */
    -moz-transform:scale(1.18); /* Firefox */
    -ms-transform:scale(1.18); /* Internet Explorer 9 */
    -o-transform:scale(1.18); /* Opera */
    transform:scale(1.18);
    }



    .zoomThés {
        width: 350px;
        height: 165px;
        }
        .imageThés {
        width: 100%;
        height: 100%;
        }
        .imageThés img {
        /* La transition s'applique à la fois sur la largeur et la hauteur, avec une durée d'une seconde. */
        -webkit-transition: all 1s ease; /* Safari et Chrome */
        -moz-transition: all 1s ease; /* Firefox */
        -ms-transition: all 1s ease; /* Internet Explorer 9 */
        -o-transition: all 1s ease; /* Opera */
        transition: all 1s ease;
        box-shadow: 0px 0.5px 2px black;
        }
        .imageThés:hover img {
        /* L'image est grossie de 25% */
        -webkit-transform:scale(1.18); /* Safari et Chrome */
        -moz-transform:scale(1.18); /* Firefox */
        -ms-transform:scale(1.18); /* Internet Explorer 9 */
        -o-transform:scale(1.18); /* Opera */
        transform:scale(1.18);
        }




        .zoomAbatilles {
            width: 350px;
            height: 240px;
            }
            .imageAbatilles {
            width: 100%;
            height: 100%;
            }
            .imageAbatilles img {
            /* La transition s'applique à la fois sur la largeur et la hauteur, avec une durée d'une seconde. */
            -webkit-transition: all 1s ease; /* Safari et Chrome */
            -moz-transition: all 1s ease; /* Firefox */
            -ms-transition: all 1s ease; /* Internet Explorer 9 */
            -o-transition: all 1s ease; /* Opera */
            transition: all 1s ease;
            box-shadow: 0px 0.5px 2px black;
            }
            .imageAbatilles:hover img {
            /* L'image est grossie de 25% */
            -webkit-transform:scale(1.18); /* Safari et Chrome */
            -moz-transform:scale(1.18); /* Firefox */
            -ms-transform:scale(1.18); /* Internet Explorer 9 */
            -o-transform:scale(1.18); /* Opera */
            transform:scale(1.18);
            }



            .list-inline {
                margin-bottom: 65px;
            }
            
            
            
            
           









/* RHUM */


.notreRhum {
    padding-top: 10px;
}



.rhums {
    
    color: black;
    font-weight: normal;
    
}

.rhumsIntro p, .rhumsIntro h3   {
    color: black;
    font-weight: normal;
    font-family : 'Raleway', sans-serif;
}

.rhums p, .rhums h4 {
    color: black;
    font-weight: normal;
    font-family : 'Raleway', sans-serif;
}


.rhums a {
    color: black;
    font-weight: bold;
}





/* DEGUSTATION */

.degust p {
    font-weight: normal;
}

.degust a {
    font-weight: bold;
}



.zoomDegust {
    width: 538px;
    height: 300px;
    }
    .imageDegust {
    width: 100%;
    height: 100%;
    }
    .imageDegust img {
    /* La transition s'applique à la fois sur la largeur et la hauteur, avec une durée d'une seconde. */
    -webkit-transition: all 1s ease; /* Safari et Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -ms-transition: all 1s ease; /* Internet Explorer 9 */
    -o-transition: all 1s ease; /* Opera */
    transition: all 1s ease;
    }
    .imageDegust:hover img {
    /* L'image est grossie de 25% */
    -webkit-transform:scale(1.06); /* Safari et Chrome */
    -moz-transform:scale(1.06); /* Firefox */
    -ms-transform:scale(1.06); /* Internet Explorer 9 */
    -o-transform:scale(1.06); /* Opera */
    transform:scale(1.06);
    }









/* CONTACT */

#contact a {
    color: black;
    font-size: 1.3em;
    font-weight:bold;
}



#contact p {
    font-size: 1.3em;
    color: black;
    font-weight: bold;

}


.zoomIibueno {
    width: 200px;
    height: 200px;
    }
    .imageTibueno {
    width: 100%;
    height: 100%;
    }
    .imageTibueno img {
    /* La transition s'applique à la fois sur la largeur et la hauteur, avec une durée d'une seconde. */
    -webkit-transition: all 1s ease; /* Safari et Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -ms-transition: all 1s ease; /* Internet Explorer 9 */
    -o-transition: all 1s ease; /* Opera */
    transition: all 1s ease;
    }
    .imageTibueno:hover img {
    /* L'image est grossie de 25% */
    -webkit-transform:scale(1.06); /* Safari et Chrome */
    -moz-transform:scale(1.06); /* Firefox */
    -ms-transform:scale(1.06); /* Internet Explorer 9 */
    -o-transform:scale(1.06); /* Opera */
    transform:scale(1.06);
    }









    /* FOOTER */


.zoomFb {
    width: 40px;
    height: 40px;
    }
    .imageFb {
    width: 100%;
    height: 100%;
    }
    .imageFb img {
    /* La transition s'applique à la fois sur la largeur et la hauteur, avec une durée d'une seconde. */
    -webkit-transition: all 1s ease; /* Safari et Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -ms-transition: all 1s ease; /* Internet Explorer 9 */
    -o-transition: all 1s ease; /* Opera */
    transition: all 1s ease;
    }
    .imageFb:hover img {
    /* L'image est grossie de 25% */
    -webkit-transform:scale(1.25); /* Safari et Chrome */
    -moz-transform:scale(1.25); /* Firefox */
    -ms-transform:scale(1.25); /* Internet Explorer 9 */
    -o-transform:scale(1.25); /* Opera */
    transform:scale(1.25);
}


.zoomInsta {
width: 30px;
height: 30px;
}
.imageInsta {
width: 100%;
height: 100%;
}
.imageInsta img {
/* La transition s'applique à la fois sur la largeur et la hauteur, avec une durée d'une seconde. */
-webkit-transition: all 1s ease; /* Safari et Chrome */
-moz-transition: all 1s ease; /* Firefox */
-ms-transition: all 1s ease; /* Internet Explorer 9 */
-o-transition: all 1s ease; /* Opera */
transition: all 1s ease;
}
.imageInsta:hover img {
/* L'image est grossie de 25% */
-webkit-transform:scale(1.25); /* Safari et Chrome */
-moz-transform:scale(1.25); /* Firefox */
-ms-transform:scale(1.25); /* Internet Explorer 9 */
-o-transform:scale(1.25); /* Opera */
transform:scale(1.25);
}


#metions {
    margin-bottom: 20px;
}









    /* MENTIONS LEGALES */



    
.mentionsParagraphe h4 {
    
    color: #FEC107;
    padding-top: 20px;
    font-weight: bold;
}


.mentionsParagraphe p {
    color: black;
    
}

.mentionsParagraphe a {
    color: #FEC107;
}





/* BANDEAU ALCOOL */

.navbar-brand {
    font-family: 'open-sans', sans-serif;
    font-size: 0.7em;
    margin-right: 0px;
}














@media(max-width:1200px){
    #rowPartenaires {
        background-color :transparent;
    
    }
    
.zoomMeneau {
    width: 100%;
    height: 100%;
    }
    .imageMeneau {
    width: 100%;
    height: 100%;
    }
    .imageMeneau img {
    /* La transition s'applique à la fois sur la largeur et la hauteur, avec une durée d'une seconde. */
    -webkit-transition: none; /* Safari et Chrome */
    -moz-transition: none; /* Firefox */
    -ms-transition: none; /* Internet Explorer 9 */
    -o-transition: none; /* Opera */
    transition: none;
    }
    .imageMeneau:hover img {
    /* L'image est grossie de 25% */
    -webkit-transform:none; /* Safari et Chrome */
    -moz-transform:none; /* Firefox */
    -ms-transform:none; /* Internet Explorer 9 */
    -o-transform:none; /* Opera */
    transform:none;
    }


    .zoomThés {
        width: 100%;
        height: 100%;
        }
        .imageThés {
        width: 100%;
        height: 100%;
        }
        .imageThés img {
        /* La transition s'applique à la fois sur la largeur et la hauteur, avec une durée d'une seconde. */
        -webkit-transition: none; /* Safari et Chrome */
        -moz-transition: none; /* Firefox */
        -ms-transition: none; /* Internet Explorer 9 */
        -o-transition: none; /* Opera */
        transition: none;
        }
        .imageThés:hover img {
        /* L'image est grossie de 25% */
        -webkit-transform:none; /* Safari et Chrome */
        -moz-transform:none; /* Firefox */
        -ms-transform:none; /* Internet Explorer 9 */
        -o-transform:none; /* Opera */
        transform:none;
        }




        .zoomAbatilles {
            width: 100%;
            height: 100%;
            }
            .imageAbatilles {
            width: 100%;
            height: 100%;
            }
            .imageAbatilles img {
            /* La transition s'applique à la fois sur la largeur et la hauteur, avec une durée d'une seconde. */
            -webkit-transition: none; /* Safari et Chrome */
            -moz-transition: none; /* Firefox */
            -ms-transition: none; /* Internet Explorer 9 */
            -o-transition: none; /* Opera */
            transition: none;
            }
            .imageAbatilles:hover img {
            /* L'image est grossie de 25% */
            -webkit-transform:none; /* Safari et Chrome */
            -moz-transform:none; /* Firefox */
            -ms-transform:none; /* Internet Explorer 9 */
            -o-transform:none; /* Opera */
            transform:none;
            }





            
    .zoomDegust {
        width: 100%;
        height: 100%;
        }
        .imageDegust {
        width: 100%;
        height: 100%;
        }
        .imageDegust img {
        /* La transition s'applique à la fois sur la largeur et la hauteur, avec une durée d'une seconde. */
        -webkit-transition: none; /* Safari et Chrome */
        -moz-transition: none; /* Firefox */
        -ms-transition: none; /* Internet Explorer 9 */
        -o-transition: none; /* Opera */
        transition: none;
        }
        .imageDegust:hover img {
        /* L'image est grossie de 25% */
        -webkit-transform:scale(none); /* Safari et Chrome */
        -moz-transform:scale(none); /* Firefox */
        -ms-transform:scale(none); /* Internet Explorer 9 */
        -o-transform:scale(none); /* Opera */
        transform:scale(none);
        }








}













@media(max-width:991px){

    
    .d-md-block {
    display: none!important;
    }





}


@media(max-width: 576px) {

    
    .navbar-brand {
       
        font-size: 0.5em;
        margin-right: 0px;
    }


    #contact a, #contact p {
        font-size: 1em;
        
    }
    
    
    .list-inline-item img {
        width: 35px;
        height: 35px;
    }





    
    .zoomMeneau {
        width: 70%;
        height: 70%;
        }
        .imageMeneau {
        width: 70%;
        height: 70%;
        }
        .imageMeneau img {
        /* La transition s'applique à la fois sur la largeur et la hauteur, avec une durée d'une seconde. */
        -webkit-transition: none; /* Safari et Chrome */
        -moz-transition: none; /* Firefox */
        -ms-transition: none; /* Internet Explorer 9 */
        -o-transition: none; /* Opera */
        transition: none;
        }
        .imageMeneau:hover img {
        /* L'image est grossie de 25% */
        -webkit-transform:none; /* Safari et Chrome */
        -moz-transform:none; /* Firefox */
        -ms-transform:none; /* Internet Explorer 9 */
        -o-transform:none; /* Opera */
        transform:none;
        }
    
    
        .zoomThés {
            width: 70%;
            height: 70%;
            }
            .imageThés {
            width: 70%;
            height: 70%;
            }
            .imageThés img {
            /* La transition s'applique à la fois sur la largeur et la hauteur, avec une durée d'une seconde. */
            -webkit-transition: none; /* Safari et Chrome */
            -moz-transition: none; /* Firefox */
            -ms-transition: none; /* Internet Explorer 9 */
            -o-transition: none; /* Opera */
            transition: none;
            }
            .imageThés:hover img {
            /* L'image est grossie de 25% */
            -webkit-transform:none; /* Safari et Chrome */
            -moz-transform:none; /* Firefox */
            -ms-transform:none; /* Internet Explorer 9 */
            -o-transform:none; /* Opera */
            transform:none;
            }
    
    
    
    
            .zoomAbatilles {
                width: 70%;
                height: 70%;
                }
                .imageAbatilles {
                width: 70%;
                height: 70%;
                }
                .imageAbatilles img {
                /* La transition s'applique à la fois sur la largeur et la hauteur, avec une durée d'une seconde. */
                -webkit-transition: none; /* Safari et Chrome */
                -moz-transition: none; /* Firefox */
                -ms-transition: none; /* Internet Explorer 9 */
                -o-transition: none; /* Opera */
                transition: none;
                }
                .imageAbatilles:hover img {
                /* L'image est grossie de 25% */
                -webkit-transform:none; /* Safari et Chrome */
                -moz-transform:none; /* Firefox */
                -ms-transform:none; /* Internet Explorer 9 */
                -o-transform:none; /* Opera */
                transform:none;
                }








    .zoomFb {
        width: 33px;
        height: 33px;
        }
        .imageFb {
        width: 100%;
        height: 100%;
        }
        .imageFb img {
        /* La transition s'applique à la fois sur la largeur et la hauteur, avec une durée d'une seconde. */
        -webkit-transition: none; /* Safari et Chrome */
        -moz-transition: none; /* Firefox */
        -ms-transition: none; /* Internet Explorer 9 */
        -o-transition: none; /* Opera */
        transition: none;
        }
        .imageFb:hover img {
        /* L'image est grossie de 25% */
        -webkit-transform: none; /* Safari et Chrome */
        -moz-transform: none; /* Firefox */
        -ms-transform: none; /* Internet Explorer 9 */
        -o-transform: none; /* Opera */
        transform: none;
    }
    
    
    .zoomInsta {
    width: 33px;
    height: 33px;
    }
    .imageInsta {
    width: 100%;
    height: 100%;
    }
    .imageInsta img {
    /* La transition s'applique à la fois sur la largeur et la hauteur, avec une durée d'une seconde. */
    -webkit-transition: none; /* Safari et Chrome */
    -moz-transition: none; /* Firefox */
    -ms-transition: none; /* Internet Explorer 9 */
    -o-transition: none; /* Opera */
    transition: none;
    }
    .imageInsta:hover img {
    /* L'image est grossie de 25% */
    -webkit-transform: none; /* Safari et Chrome */
    -moz-transform: none; /* Firefox */
    -ms-transform: none; /* Internet Explorer 9 */
    -o-transform: none; /* Opera */
    transform: none;
    }



}

